/*
Theme Name: Eulenfreunde 2014
Theme URI: http://www.eulenfreun.de
Description: Eulenfreunde Festival WP-Template - Design fuer das Jahr 2014
Version: 1.0
Author: Carsten Hoelbing
*/

/*a:focus, a:hover,a {	text-decoration: underline;}*/
a {
	text-decoration:none;
	font-size:0.7em;
	font-family: Arial;
	}

/* Font-Family der Schriftart wird festgelegt */
/*@font-face {
font-family: CaviarDreams-webfont;
src: url('fonts/CaviarDreams-webfont.eot');
src: url('fonts/CaviarDreams-webfont.eot?iefix') format('eot'),
url('fonts/CaviarDreams-webfont.ttf') format('truetype');
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*/

/*Herbst 2014*/
@font-face {
    font-family: Novecentosanswide;
    src: url('fonts/Novecentosanswide-Medium.otf');
}

@font-face {
    font-family: Novecentosanswide;
    font-weight: bold;
    src: url('fonts/Novecentosanswide-Medium.otf') format("opentype");
}

/*~~~~~~~~~~~~~ Page body ~~~~~~~~~~~~~~~*/
body {
	margin: 0;
	padding: 0;
	text-decoration:none;
	font-family: Arial;
	font-size:1em;/*14px;*/
}
/*~~~~~~~~~~~~~ Page wrapper ~~~~~~~~~~~~~~~*/
#wrapper_header 
{
	background-color: #FFD72A;
	width: 100%;
}
#wrapper
{
	background-color: #FFFFFF;
	width: 100%;
}
#header_content, .main_menu, #content_article, #footer-sponsoren, #footer-index, #footer-sponsoren, #footer, #home_center
{
	text-align: center;
	width: 900px;
	margin: 0px;
	padding: 0px;
	margin-left: auto; 
	margin-right: auto; 
}

#wrapper_header 
{
	background-color: #FFD72A;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-color:black;
}


/*~~~~~~~~~~~~~ Page Header ~~~~~~~~~~~~~~~*/
#header_content
 {
	height: 150px;
	background: #FFD72A;
	/*background-image: url(http://www.eulenfreun.de/wp-content/themes/eulenfreunde2014/images/bg_home.png);*/
	background-repeat: no-repeat;
}

#header_bg
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #FFD72A;
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	z-index: 1;	
	position:absolute; left:200px; top:0px;width:400px;height:200px;
}

#header_img_logo
{
	width: 15%;
	float: left;
	margin: 0px;
	padding: 20px 0 0 0;
	z-index: 2;	
}

#header_info_text
{
    width:70%;
    float: left;
    font-family: Novecentosanswide;
}

h1.header_text , h2.header_text
{
	width:100%;
	float: left;
	/*font-family: CaviarDreams-webfont;*/

    /*font-family: Delicious, sans-serif;*/
    
	   
	font-size:2.6em;
	line-height: 1em;
	color: #4f4040;
	text-align: center;
		
    margin: 20px 0 10px 0;
    padding: 0px;
	z-index: 10;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0.1em #808080;
}

h2.header_text
{
	font-size:1.3em;
    line-height: 1em;
    margin: 2px 0 0 0;
}

/*~~~~~~~~~~~~~ menu Header ~~~~~~~~~~~~~~~*/
.main_menu
{
	margin: 0px;
	padding:  10px 0 0 0;
	margin-left: auto; 
	margin-right: auto; 
	margin-top:0px;
	color: #000000;
	width: 50%;
	height: 3em;
}

.main_menu ul
{
	
	/*padding:0 0 0 0px;
	margin: 5px 0 5px 0;*/
	margin: 0px;
	padding: 0px;
	margin-left: auto; 
	margin-right: auto;
	list-style-type: none;

	height: 25px;
}

.main_menu ul li
{
	font: bold 16px Arial; 
	font-variant:small-caps;
	display:inline;
	padding:5px;
}

.main_menu a
{
	color: #000000;
	font-size:1.2em;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.main_menu a:hover 
{
	padding: 0 20px 0 10px;
	color: #000000;
	font-size:1.5em;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.current_page_item a 
{ 
	border-bottom-color: #FF0000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	padding: 0 20px 0 10px;
	color: #000000;
	font-size:1.5em;
}


h1.article_ueberschrift
{
	width: 100%;
	float: left;
	font-family: CaviarDreams-webfont;
	
	font-size:2em;
	/*margin-top:22px;*/
	color: #000000;
	text-align: center;
		
	padding: 20px 0 0 0;
}

h1.article_ueberschrift a
{
	border-bottom-color: #FF0000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	padding: 0 20px 0 10px;
	color: #000000;
}

/*~~~~~~~~~~~ da es sich wiederholt -> class ~~~~~~~~~~~~~~~~~*/

.article
{
	float: left;
	font-family: Arial;
	/*padding: 0 5px 0 105px;*/
	text-align: justify;
	width: 100%;
	font-size:0.8em;
	line-height:20px;
	
}

.article .aligncenter
{
	display: table-cell; 
	vertical-align: middle;
}
.tags-post
{
	font: normal 10px Arial;
}


.article a
{
	color: #FF0000;
	font-size:1em;
}

.article a:hover 
{
	padding: 0 5px 0 5px;
	font-size:1em;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}
/*~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~~~*/

#footer-index, #footer-index a, #footer-sponsoren, #footer-sponsoren a, #footer, #footer a
{
	clear: both;
	
	font-family: Arial;
	text-align: center;
	font-weight: normal;
	text-decoration: none;

	color: #969696;
	font-size:0.7em;
}


/* --- STARTSEITE --- */

#bg_home
{
	width: 100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	background-color: #FFD72A;
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	z-index: 1;
}

#home_body
{
	background-color: #FFD72A;
}

#home_wrapper
{
	position:absolute;

	top: 50%;
	margin-top: -150px;
	margin-left: -500px;
	position:absolute;
	top: 50%;
	left: 50%;
	width:950px;	
}
#home_header
{
	background-color: #FFD72A;
	border-width:1px;
	border-style:solid;
	border-color:black;
	height:200px;
	width: 100%;
}

h1.home_center_text , h2.home_center_text
{
	width: 100%;
	float: left;
	font-family: CaviarDreams-webfont;
	
	font-size:3em;
	/*margin-top:22px;*/
	line-height:32px;
	color: #000000;
	text-align: center;
		
	padding: 0.5em;
	z-index: 10;
}
h2.home_center_text
{
	font-size:2.5em;
}

#home_spacer
{
	width: 100%;
	height: 6em;
}
#sidebar_logoEule 
{
	font: normal 14px Arial; 
	list-style: none; 

	width: 100px;
	z-index: 4000;
	float: left;
	vertical-align: top;

	top:90%; 
	left:0;
	font-size:1em;
	position: fixed; 

}

#sidebar_socialLinks 
{
	font: normal 14px Arial; 
	list-style: none; 

	width: 30px;
	z-index: 5000;
	float: left;
	vertical-align: top;

	top:40%; 
	left:0;
	font-size:1em;
	position: fixed; 

}

#sidebar_socialLinks a 
{
	display:block;
	margin: 5px 0 5px 0;
}