/*
Theme Name: Eulenfreunde 2013
Theme URI: http://www.eulenfreun.de
Description: Eulenfreunde Festival WP-Template - Design fuer das Jahr 2013
Version: 1.0
Author: Eulenfreunde
*/

h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#000000;	text-decoration: none;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-top:0.75em;padding:0px;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
a:focus, a:hover {color:red;	text-decoration: none;}
a {color:red;text-decoration:underline;	text-decoration: none;}

hr
{
	width: 575px;
}
table
{
	margin: 0px;
	padding: 0px;
	float:left;
	text-align: center;
	width: 575px;
}

h1 a, h2 a {font-weight:normal;color:#000000;	text-decoration: none;}

iframe
{
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	padding:0 0 0 0px;
}

/*~~~~~~~~~~~~~ Page body ~~~~~~~~~~~~~~~*/
body {
	/*line-height:1.5;*/
	font-family: Arial;
	color:#000;
	font-size:14px;
	background-color: #999999;
	margin: 0px;
}
/*~~~~~~~~~~~~~ Page wrapper ~~~~~~~~~~~~~~~*/
#wrapper 
{
	width: 1000px;
	margin: 30px;
	padding: 0px;
	background-color: #000000;
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	background-image: url(http://www.eulenfreun.de/wp-content/themes/eulenfreunde2013/images/bg.png);
}

/*~~~~~~~~~~~~~ Page Header ~~~~~~~~~~~~~~~*/
#body_header {
	width: 100%;
	height: 200px;
	background: #f6dd06;
	margin: 0px;
	background-image: url(http://www.eulenfreun.de/wp-content/themes/eulenfreunde2013/images/header.png);
}

/*~~~~~~~~~~~~~ menu Header ~~~~~~~~~~~~~~~*/
#menus
{
	width: 1000px; 
	height: 30px;

	border-top: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	border-bottom: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;

	position: relative;

	font-weight:normal;
	background: #FFFFFF; 

	text-transform: uppercase; 
	z-index: 1000;
}

#menus a
{
	color: #000000;
}


#menus ul
{
	padding:0 0 0 0px;
	margin: 5px 0 5px 0;
	list-style-type: none;
}


#menus ul li
{
	font: bold 16px Arial; 
	font-variant:small-caps;
	display:inline;
	padding:5px 15px 5px 15px;
}

/*
 * enthaehlt class article und sidbar
 */
#content_box
{
	width: 1000px;
	position:relative;
	margin: 0px;
	padding: 0px;
}

/*~~~~~~~~~~~ da es sich wiederholt -> class ~~~~~~~~~~~~~~~~~*/
.article_ueberschrift, .article_ueberschrift a
{
	font-family: Arial;
	font-size:28px;
	margin-top:22px;
	padding:0px;
	line-height:32px;
	color: #000000;
}

.article
{
	float: left;
	font-family: Arial;
	margin: 5px;
	padding: 0 5px 0 105px;
	text-align: justify;
	width: 590px;
	background-image: url(http://www.eulenfreun.de/wp-content/themes/eulenfreunde2013/images/bgii.png);
	font-size:14px;
	line-height:20px;
}

.article_img
{
	float: left;
	padding: 25px 15px 5px 0px;
}

.tags-post
{
	font: normal 10px Arial;
}
/*~~~~~~~~~~~ sidebar ~~~~~~~~~~~~~~~~~*/

#box_sidebar 
{
	font: normal 14px Arial; 
	list-style: none; 
	position: relative; 
	width: 200px;
	z-index: 4000;
	float: left;
	vertical-align: top;
	position:absolute; 
	top:0px; 
	left:750px;
	font-size: 10px;
	text-align: center;
}

#box_sidebar iframe
{
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	padding:0 0 0 80px;
}

#box_sidebar a 
{
	display:block;
}

#box_sidebar ul
{
	list-style:none;
	/*padding-left: 20%;*/
}

#box_sidebar ul li a
{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	/*height: 20px;
	line-height:26px;
	padding: 8px;
	padding: 0px 0px 0px 50px;*/
}


/*~~~~~~~~~~~ Kommentare ~~~~~~~~~~~~~~~~~*/
.comments_author
{
	width: 100%;
	display:inline;
	line-height:16px;
	margin: 0;
	padding: 0;
}

.comments_author_name
{
	font: normal 14px Arial;
	float: left;
	color: #ff0000;
	margin: 0;
	padding: 0;
}

.comments_author_tags-post
{
	font: normal 10px Arial;
	margin: 0;
	float: left;
	padding: 3px 0px 0px 10px;

}

.comments_content
{
	float: left;
	font-family: Arial;
	padding: 0 0 0 20px;
	margin: 0;
	text-align: justify;
	font-size:14px;
	line-height:18px;
	width: 100%;
}

#kommentar_formular
{
	width: 100%;
	font: normal 16px Arial;
}

#kommentar_title
{
	width: 100%;
	text-align: left;
	padding: 30px 0 0 0;
}

#pres_text
{
	font-family: Arial;
	font-size: 10px;
	color: #969696;
	text-align: center;
}

#sidebar_banner
{
}
.recentcomments
{
	text-align: left;
}
.recentcomments a
{
	display:inline !important;
	padding:0 !important;
	margin:0 !important;
	font-size: 10px;
}

#page-nav
{
	float: left;
	width: 100%;
	font: normal 16px Arial;
	margin: 20px;
}

/*~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~~~*/
#footer-index, #footer-sponsoren {
	clear: both;
	width: 100%;
	font-family: Arial;
	margin-top: 5px;
	padding: 0px;
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #969696;
}
#footer-index a{
	text-decoration: none;
	color: #969696;
}
#footer, #footer a {
	clear: both;
	width: 100%;
	font-family: Arial;
	margin-top: 5px;
	padding: 0px;
	text-align: center;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	color: #969696;
}

