/*
Theme Name: Eulenfreunde 2012
Theme URI: http://www.eulenfreun.de
Description: Eulenfreunde Festival WP-Template - Design fuer das Jahr 2012
Version: 1.0
Author: Eulenfreunde
*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-weight:inherit;
        font-style:inherit;
        font-size:100%;
        font-family:inherit;
        vertical-align:baseline;
}

body {
        line-height:1.5;
        color:black;
        background:white;
}
table {
        border-collapse:separate;
        border-spacing:0;
}
caption, th, td {
        text-align:left;
        font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content:"";
}
blockquote, q {
        quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
        display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/
body {
        color:#2d3536;
        background:#e8e0c0 url(http://www.eulenfreun.de/wp-content/uploads/2012/06/concrete_wall_2.png) repeat;
}



/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
        clear:both;
}


/*====================*/
/*===    Footer    ===*/
/*====================*/

 @media screen{
  body>div#footer{
   position: fixed;
  }
 }
 * html body{
  overflow:hidden;
 }
 * html div#seite{
  height:100%;
  overflow:auto;
 }

div#footer {
  position:absolute;
  bottom:0;
   padding:0;
   width:100%;
   margin:0 auto;
   height:95px;   /* hoehe des  footer Bereiches */
   background:url(http://www.eulenfreun.de/wp-content/themes/eulenfreunde/images/footer-back.png) repeat-x;
   text-align: justify;
   font-size:90%;
}

div#footer ul 
{
 /*  clear:left;* /
   float:left;
 / *  width:100%;
   list-style:none;*/
   margin:0 0 0 0;
   padding:0;
}
div#footer ul li 
{
  display:inline;
  list-style:none;
  margin:0 0 0 1px;
  padding:0;
  float:left;
}
div#footer ul li a 
{
  display:block;
  margin:47px 0 0 1px;
  padding:10px 20px 10px;
  text-align:center;
  background:#d1d1d1;
  color:#369;
  text-decoration:none;
  position:relative;
  line-height:1.1em;
}

div#footer ul li a:hover 
{
  background:#369;
  color:#fff;
}

div#footer ul li a.active,
div#footer ul li a.active:hover 
{
  color:#fff;
  background:#000;
  font-weight:bold;
}

div#footer ul li a span 
{
  display:block;
}


/*====================*/
/*===    Header    ===*/
/*====================*/

div#header {
   padding:0 10px;
   margin:10px 0 0 10px;

}

div#header a:link,
div#header a:visited {
text-decoration: none;
color: #2b2b2b;
}

div#header a:hover,
div#header a:active {
text-decoration: none;
color: #369;
}

div#header .gross {
margin-top:0;
font-size:320%;
text-transform: uppercase;
line-height: 0.9em;
}

div#header .fastgross {
margin-top:0;
font-size:200%;
text-transform: uppercase;
line-height: 0.8em;
}
div#header .fastgross2 {
margin-top:0;
font-size:200%;
text-transform: uppercase;
line-height: 0.8em;
}

/*====================*/
/*===    Content   ===*/
/*====================*/

div#content-bg {
    background:url(http://www.eulenfreun.de/wp-content/themes/eulenfreunde/images/con-bg.png) no-repeat;
    margin: 5px 0 0 10px;
    width: 800px;
    height: 100%;
    min-height:500px;

}

div#content {
    background: #fff;
    padding:0 10px 10px 5px;
    margin: 5px 0 0 -5px;
    width: 535px;
    height: 100%;
    min-height:600px;
    border: 1px solid #CCC;

}

div#content .news {
         padding:10px 0 0 10px;
         border-bottom: 1px solid #CCC;
         min-height: 185px;

}

div#content img {
         float:left;
         border:2px solid #eee;
         margin:0 10px 10px 0;
         -webkit-box-shadow: 0px 0px 4px #000;
-moz-box-shadow: 0px 0px 4px #000;
}



div#content h1 {
         font-size:120%;
         text-transform: uppercase;
         line-height: 1em;
         color: #369;
}

div#sidebar h1 {
         font-size:100%;
         text-transform: uppercase;
         line-height: 1em;
         color: #369;
}

div#content h6 {
         font-size:70%;
         text-transform: uppercase;
         line-height: .6em;
         margin-bottom: 1em;
}

div#content a:link,
div#content a:visited {
         text-decoration: none;
         color: #369;
}

div#content a:hover,
div#content a:active {
         text-decoration: none;
         color: #2b2b2b;
}

/*====================*/
/*===    Sidebar   ===*/
/*====================*/

div#sidebar {
    background: #fff;
    padding: 10px;
    width: 504px;
    height:720px;
    border: 1px solid #CCC;
    float:right;
    margin:5px 10px 0 0;
    text-align:center;
    list-style-type:none;
}

ul#sidebar li{
    list-style-type:none;
    text-align: left;
display: inline;
}

div#sidebar img {
margin:0 0 10px 0;
}

div#sidebar img:hover {
-webkit-box-shadow: 0px 0px 4px #000;
-moz-box-shadow: 0px 0px 4px #000;
}

/*====================*/
/*===    Social    ===*/
/*====================*/

/*Fake facebook */
#fake_facebook {
width: 56px;
height: 56px;
float:right;
right: 15px;
position: relative;
background: url(http://www.eulenfreun.de/wp-content/themes/eulenfreunde/images/facebook.png) no-repeat 0 0;
margin: 0 auto;
}
#fake_facebook a {
position: absolute;
width: 56px;
height: 56px;
display: block;
border: none;
background: transparent;
overflow: hidden;
}
#fake_facebook .hover{
width: 56px;
height: 56px;
display: block;
position: absolute;
background: url(http://www.eulenfreun.de/wp-content/themes/eulenfreunde/images/facebook.png) no-repeat 0 -56px;
}

/*Fake twitter */
#fake_twitter {
width: 56px;
height: 56px;
float:right;
right: 15px;
position: relative;
background: url(http://www.eulenfreun.de/wp-content/themes/eulenfreunde/images/twitter.png) no-repeat 0 0;
margin: 0 auto;
}
#fake_twitter a {
position: absolute;
width: 56px;
height: 56px;
display: block;
border: none;
background: transparent;
overflow: hidden;
}
#fake_twitter .hover{
width: 56px;
height: 56px;
display: block;
position: absolute;
background: url(http://www.eulenfreun.de/wp-content/themes/eulenfreunde/images/twitter.png) no-repeat 0 -56px;
}

/*Fake google */
#fake_google {
width: 56px;
height: 56px;
float:right;
right: 15px;
position: relative;
background: url(http://www.eulenfreun.de/wp-content/themes/eulenfreunde/images/google.png) no-repeat 0 0;
margin: 0 auto;
}
#fake_google a {
position: absolute;
width: 56px;
height: 56px;
display: block;
border: none;
background: transparent;
overflow: hidden;
}
#fake_google .hover{
width: 56px;
height: 56px;
display: block;
position: absolute;
background: url(http://www.eulenfreun.de/wp-content/themes/eulenfreunde/images/google.png) no-repeat 0 -56px;
}

